html, body {
    height: 100%;
    margin: 0;
}

.container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 2fr; /* 1fr for sidebar, 4fr for main content */
    min-height: 100%;
    max-height: 100%;
  }
  
header, footer {
    grid-column: 1 / -1; /* Spanning all columns */
    background-color: #333;
    color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

aside, main, .graphs{
    background-color: #ffffff;Nest
    padding: 10px;
    margin: 10px;
}
  