<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
  <body class="container">
    <header class="header">
        <h1>{% block header %} {% endblock %}</h1>
    </header>

    <aside class="aside">
        {% block aside %} {% endblock %}
    </aside>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer class="footer">
        Site made by Hayden Farrell 2024 using Flask
    </footer>
  </body>
</html>