<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
  <body class="container">
    <header class="header">
        <h1>{% block header %} {% endblock %}</h1>
    </header>

    <aside class="aside">
        {% block aside %} {% endblock %}
    </aside>

    <main>
        {% block content %} {% endblock %}
    </main>

      {% block graphs %} {% endblock %}

    <footer class="footer">
        Site made by Hayden Farrell 2024 using Flask
    </footer>
  </body>
</html>