{% extends 'base.html' %}

<h1>{% block title %} Common Name {% endblock %}</h1>
<h1>{% block header %} Common Name {% endblock %}</h1>

{% block aside %}
    <aside>
        <div class="selector">
            <form action="{{ url_for("querry") }}" method="POST">
                <label for="name">Name</label><br>
                <input type="text" name="name" id="name">
                <br>
                <label for="number">Birth Year</label><br>
                <input type="number" name ="year" id ="year" min="1996" max="2021" step="1" value="2021"/>
                <br>
                <label class="radio-inline">
                    <input type="radio" name="sex" id="Male" value="Male" checked>Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" id="Female" value="Female">Female
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" id="Both" value="Both">Both
                </label>
                <br>
                <button type="submit">Login</button>
            </form>
        </div>
    </aside>
{% endblock %}

{% block content %}
    <main>
        <div class="info">
            <div>name : {{name}}</div>
            <div>year : {{year}}</div>


            <div>rank : {{rank}}</div>
            <div>count : {{count}}</div>
        </div>
    </main>
{% endblock %}

{% block graphs %}
    <div class="graphs">
        <canvas id="myChart"></canvas>

        <script>
            const labels = {{ labels | tojson}};
        
            const data = {
                labels: labels,
                datasets: [{
                    label: 'Count',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ data | tojson}},
                }]
            };
        
            const config = {
                type: 'line',
                data: data,
                options: { maintainAspectRatio: false }
            };
        
            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>
    </div>
{% endblock %}

